.divCard {
  margin-bottom: 50px;
  -webkit-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 3px 10px #053769;
}
@media only screen and (max-device-width: 768px) {
  .divCard {
    margin-right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
