.main{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 60px 20px;
}

.quickDiv{
    height: 85%!important;
    background-color: #445175;
    border-radius: 30px;
}

.countryDiv{
    position: absolute;
    border-radius: 30px;
}

@media only screen and  (max-device-width: 768px) {
    .main{
        position: relative;
        padding: 60px 20px;
    }
    .countryDiv{
        position: absolute;
        border-radius: 30px;
        margin-top: 20px;
        margin-left: 0!important;
    }
}
@media only screen and  (max-device-width: 425px) {
    .main{
        position: relative;
        padding: 60px 20px;
    }

    .countryDiv{
        position: absolute;
        border-radius: 30px;
        margin-top: 20px;
        margin-left: 0!important;
    }
}